body
  font-size 15px

.home .hero img
  max-height 150px !important

.note
  padding 0.7rem
  border-left 0.45rem solid
  border-radius 0.35rem

.note-primary
  background-color #f5f0fa
  border-color #6f42c1

.note-secondary, note-default
  background-color #f7f7f7
  border-color #777

.note-success
  background-color #eff8f0
  border-color #5cb85c

.note-danger
  background-color #fcf1f2
  border-color #d9534f

.note-warning
  background-color #fdf8ea
  border-color #f0ad4e

.note-info
  background-color #eef7fa
  border-color #428bca

.note-light
  background-color #fefefe
  border-color #0f0f0f

.label
  display inline
  border-radius 3px
  font-size 85%
  margin 0
  padding .2em .4em

.label-default
  background #f7f7f7

.label-primary
  background #f5f0fa

.label-info
  background #eef7fa

.label-success
  background #eff8f0

.label-warning
  background #fdf8ea

.label-danger
  background #fcf1f2

.btn
  background #2F4154
  border-radius .25rem
  color #fff !important
  display inline-block
  font-size .875em
  line-height 2
  padding 0 .75rem
  text-decoration none
  transition-property background
  transition-delay 0s
  transition-duration 0.2s
  transition-timing-function ease-in-out
  -webkit-box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
  box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
  margin-bottom 1rem

  &:hover
    background #23ae92
    color #fff !important
    text-decoration none

input[type=checkbox]
  -webkit-appearance none
  -moz-appearance none
  position relative
  right 0
  bottom 0
  left 0
  height 1.25rem
  width 1.25rem
  transition .2s
  color #fff
  cursor pointer
  margin .4rem .2rem .4rem !important
  outline 0
  border-radius 0.1875rem
  vertical-align -.65rem
  border 2px solid #2f4154

  &:after, &:before
    content " "
    transition .2s
    position absolute
    background #fff

  &:before
    left 0.125rem
    top 0.375rem
    width 0
    height 0.125rem
    -webkit-transform rotate(45deg)
    -moz-transform rotate(45deg)
    -ms-transform rotate(45deg)
    -o-transform rotate(45deg)
    transform rotate(45deg)

  &:after
    right 0.5625rem
    bottom 0.1875rem
    width 0.125rem
    height 0
    -webkit-transform rotate(40deg)
    -moz-transform rotate(40deg)
    -ms-transform rotate(40deg)
    -o-transform rotate(40deg)
    transform rotate(40deg)
    transition-delay .2s

  &:checked
    background #2f4154

    &:before
      left 0.0625rem
      top 0.625rem
      width 0.375rem
      height 0.125rem

    &:after
      right 0.3125rem
      bottom 0.0625rem
      width 0.125rem
      height 0.875rem

ins.adsbygoogle[data-ad-status="unfilled"]
  display none !important

.side-ads
  position sticky
  top 5rem
  left 100%
  width calc((100vw - 320px - 740px) / 2 - 12px)
  height 0
  margin-right calc(((100vw - 320px - 740px) / 2 - 12px) * -1)
  display flex
  justify-content center

  & > ins.adsbygoogle
    display inline-block
    min-width 160px
    max-width 250px
    width 100%
    height 600px

@media (max-width: 1440px)
  .side-ads
    display none
